#comments {
    padding: 5%;
}

.comment-text {
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 0;
}

.comment-created {
    color: grey;
    font-size: 10px;
    padding-top: 0;
}

.comment-btn {
    margin: 10px;
}

#comment-text {
    margin: 20px;
    height: 20%;
    width: 90%;
}

#submit-comment {
    margin: 10px;
}